.side-dock {
	display: flex;
	flex-direction: column;
	background-color: var(--theme-color-surface);
	gap: var(--theme-spacing-sm);
	padding-inline: var(--theme-spacing-sm);
	padding-top: var(--theme-spacing-md);
	border-right-width: var(--theme-border-width);
	border-right-color: var(--theme-color-border);
}

.side-dock-item {
	color: var(--theme-color-text-muted);
	padding: var(--theme-spacing-sm);
	border-radius: var(--theme-rounding-sm);

	&:hover {
		background-color: var(--theme-color-secondary-hover);
	}
}

.side-dock-item.active {
	color: var(--theme-color-text-default);
}
