.titlebar {
	app-region: drag;
	height: 30px;
	background-color: var(--theme-color-surface);
	border-bottom-width: var(--theme-border-width);
	border-bottom-color: var(--theme-color-border);
}

.app-focused .titlebar {
	background-color: var(--theme-color-surface-alt);
}
