.app {
	display: flex;
	flex-direction: column;
	height: 100svh;
}

.app-row {
	flex: 1;
	// to account for the titlebar
	height: calc(100svh - 30px);
	display: flex;
	flex-direction: row;
}

.app-content {
	flex: 1;
}
