@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
	--radius-sm: var(--theme-rounding-sm);
	--radius-md: var(--theme-rounding-md);
	--radius-lg: var(--theme-rounding-lg);
	--radius-xl: var(--theme-rounding-xl);

	--spacing-xxs: var(--theme-spacing-xxs);
	--spacing-xs: var(--theme-spacing-xs);
	--spacing-sm: var(--theme-spacing-sm);
	--spacing-md: var(--theme-spacing-md);
	--spacing-lg: var(--theme-spacing-lg);
	--spacing-xl: var(--theme-spacing-xl);
	--spacing-xxl: var(--theme-spacing-xxl);

	--font-default: var(--theme-font-default);
	--font-mono: var(--theme-font-mono);

	--text-xs: var(--theme-font-size-xs);
	--text-sm: var(--theme-font-size-sm);
	--text-md: var(--theme-font-size-md);
	--text-lg: var(--theme-font-size-lg);
	--text-xl: var(--theme-font-size-xl);
	--text-xxl: var(--theme-font-size-xxl);

	--font-weight-regular: var(--theme-font-weight-regular);
	--font-weight-medium: var(--theme-font-weight-medium);
	--font-weight-semibold: var(--theme-font-weight-semibold);
	--font-weight-bold: var(--theme-font-weight-bold);

	--color-white: var(--theme-color-white);
	--color-black: var(--theme-color-black);

	--color-bg-primary: var(--theme-color-background-primary);
	--color-bg-primary-alt: var(--theme-color-background-primary-alt);

	--color-accent: var(--theme-color-accent);
	--color-accent-light: var(--theme-color-accent-light);

	--color-t-default: var(--theme-text-color-default);
	--color-t-muted: var(--theme-text-color-muted);

	--color-text-selection: var(--theme-color-text-selection);
	--color-caret: var(--theme-color-caret);
}
