:root {
	/* spacing */
	--theme-spacing-xxs: 2px;
	--theme-spacing-xs: 4px;
	--theme-spacing-sm: 8px;
	--theme-spacing-md: 12px;
	--theme-spacing-lg: 16px;
	--theme-spacing-xl: 24px;
	--theme-spacing-xxl: 32px;

	/* rounding */
	--theme-rounding-sm: 4px;
	--theme-rounding-md: 8px;
	--theme-rounding-lg: 12px;
	--theme-rounding-xl: 16px;

	/* typography */
	--theme-font-default: "Inter", sans-serif;
	--theme-font-mono: "Fira Code", monospace;

	--theme-font-size-xs: 12px;
	--theme-font-size-sm: 14px;
	--theme-font-size-md: 16px;
	--theme-font-size-lg: 20px;
	--theme-font-size-xl: 24px;
	--theme-font-size-xxl: 32px;

	--theme-font-weight-regular: 400;
	--theme-font-weight-medium: 500;
	--theme-font-weight-semibold: 600;
	--theme-font-weight-bold: 700;

	/* text colors */
	--theme-color-text-default: #ffffff;
	--theme-color-text-muted: #a0a0a0;

	/* single tokens */
	--theme-border-width: 1px;

	/* colors */
	--theme-color-white: #ffffff;
	--theme-color-black: #000000;

	--theme-color-accent: #007aff;
	--theme-color-accent-light: #1a87ff;

	--theme-color-background-primary: #151515;
	--theme-color-background-primary-alt: #242424;

	--theme-color-text-selection: #007aff;
	--theme-color-caret: #007aff;
}
