.sidebar {
	width: 250px;
	background-color: var(--theme-color-surface);
	padding: var(--theme-spacing-sm);
	border-right-width: var(--theme-border-width);
	border-color: var(--theme-color-border);
}
