.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: var(--theme-rounding-sm);
	font-size: var(--theme-font-size-sm);
	background-color: var(--background-color);

	&:hover {
		background-color: var(--hover-color);
	}

	&:active {
		transform: translateY(1px);
	}

	&-default {
		height: 40px;
		padding-inline: var(--theme-spacing-md);
		padding-block: var(--theme-spacing-sm);
	}

	&-icon {
		height: 36px;
		width: 36px;
	}

	&-primary {
		--background-color: var(--theme-color-primary);
		--hover-color: var(--theme-color-primary-hover);
	}

	&-secondary {
		--background-color: var(--theme-color-secondary);
		--hover-color: var(--theme-color-secondary-hover);
	}
}
