.checkbox-control {
	--checkbox-size: calc(var(--theme-spacing-unit) * 6);

	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--checkbox-size);
	width: var(--checkbox-size);
	border-radius: var(--theme-rounding-sm);
	border-width: var(--theme-border-width);
	border-color: var(--theme-color-border);

	&[data-state="checked"] {
		background-color: var(--theme-color-primary);
		color: var(--theme-color-primary-foreground);
	}
}
