.icon-button {
	--icon-button-size: calc(var(--theme-spacing-unit) * 8);

	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	outline: none;
	height: var(--icon-button-size);
	width: var(--icon-button-size);
	padding: var(--theme-spacing-sm);
	border-radius: var(--theme-rounding-sm);
	background-color: var(--icon-button-color);

	&:hover {
		background-color: var(--icon-button-hover-color);
	}

	&:active {
		transform: translateY(1px);
	}
}

// colors

.icon-button--primary {
	--icon-button-color: var(--theme-color-primary);
	--icon-button-hover-color: var(--theme-color-primary-hover);
	--icon-button-text-color: var(--theme-color-primary-foreground);
}

.icon-button--secondary {
	--icon-button-color: var(--theme-color-secondary);
	--icon-button-hover-color: var(--theme-color-secondary-hover);
	--icon-button-text-color: var(--theme-color-secondary-foreground);
}

// variants

.icon-button--ghost {
	background-color: transparent;
}
