.menu-trigger {
	outline: none;
	cursor: pointer;
}

.menu-positioner {
	isolation: isolate;
	position: absolute;
	min-width: max-content;
	top: 0;
	left: 0;
	transform: translate3d(var(--x), var(--y), 0);
	z-index: var(--z-index);
}

.menu-content {
	background-color: var(--theme-color-surface);
	border-width: var(--theme-border-width);
	border-color: var(--theme-color-border);
	border-radius: var(--theme-rounding-md);
	box-shadow: var(--theme-shadow-lg);
	padding-block: var(--theme-spacing-sm);
	outline: none;
}

.menu-item {
	font-size: var(--theme-font-size-sm);
	padding-inline: var(--theme-spacing-md);
	padding-block: var(--theme-spacing-sm);
	border-radius: var(--theme-rounding-sm);
	margin-inline: var(--theme-spacing-xs);

	&[data-highlighted] {
		background-color: var(--theme-color-secondary-hover);
	}
}
