.select {
}

.select-trigger {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-width: calc(var(--theme-spacing-unit) * 40);
	height: calc(var(--theme-spacing-unit) * 9);
	padding-inline: var(--theme-spacing-md);
	border-radius: var(--theme-rounding-md);
	border-width: var(--theme-border-width);
	border-color: var(--theme-color-border);
}

.select-indicator {
	--select-indicator-size: calc(var(--theme-spacing-unit) * 4);
	color: var(--theme-color-text-muted);

	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--select-indicator-size);
	width: var(--select-indicator-size);
}

.select-positioner {
	position: absolute;
	isolation: isolate;
	top: 0;
	left: 0;
	width: var(--reference-width);
	transform: translate3d(var(--x), var(--y), 0);
	z-index: var(--z-index);
}

.select-content {
	padding: var(--theme-spacing-sm);
	background-color: var(--theme-color-surface);
	border-radius: var(--theme-rounding-md);
	border-width: var(--theme-border-width);
	border-color: var(--theme-color-border);
	box-shadow: var(--theme-shadow-md);
}

.select-value-text {
	font-size: var(--theme-font-size-sm);
}

.select-item {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: var(--theme-font-size-sm);
	padding: var(--theme-spacing-sm);
	border-radius: var(--theme-rounding-sm);

	&:hover {
		background-color: var(--theme-color-secondary-hover);
	}
}

.select-item-indicator {
	color: var(--theme-color-primary);
}
