.sidebar {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 200px;
	background-color: var(--theme-color-surface);
	padding: var(--theme-spacing-sm);
	border-right-width: var(--theme-border-width);
	border-right-color: var(--theme-color-border);
	gap: var(--theme-spacing-md);
}

.sidebar-group {
	display: flex;
	flex-direction: column;
	gap: var(--theme-spacing-sm);
}

.sidebar-group-title {
	color: var(--theme-color-text-muted);
	font-size: var(--theme-font-size-xs);
	margin-left: var(--theme-spacing-sm);
}

.sidebar-group-content {
	display: flex;
	flex-direction: column;
	gap: var(--theme-spacing-sm);
}

.sidebar-item {
	cursor: pointer;
	display: flex;
	align-items: center;
	font-size: var(--theme-font-size-sm);
	gap: var(--theme-spacing-sm);
	padding-block: var(--theme-spacing-xs);
	padding-inline: var(--theme-spacing-sm);
	border-radius: var(--theme-rounding-md);

	&:hover {
		background-color: var(--theme-color-secondary-hover);
	}

	&[data-active="true"] {
		color: var(--theme-color-primary-foreground);
		background-color: var(--theme-color-primary);
	}
}
