.text-input {
	height: calc(var(--theme-spacing-unit) * 10);
	background-color: var(--theme-color-secondary);
	color: var(--theme-color-text-default);
	font-size: var(--theme-font-size-sm);
	padding-inline: var(--theme-spacing-sm);
	border-radius: var(--theme-rounding-sm);
	border-width: var(--theme-border-width);
	border-color: var(--theme-color-border);

	::placeholder {
		color: var(--theme-color-text-muted);
	}

	&:focus {
		border-color: var(--theme-color-primary);
		outline: none;
	}
}
