.toast {
	position: relative;
	min-width: 240px;
	background-color: var(--theme-color-surface);
	border-width: var(--theme-border-width);
	border-color: var(--theme-color-border);
	border-radius: var(--theme-rounding-md);
	padding: var(--theme-spacing-md);
	box-shadow: var(--theme-shadow-md);
	transition-duration: 200ms;
	will-change: translate, opacity, scale;
	transition-timing-function: ease;
	transition-property: transform, opacity, scale, height;

	// ark variables
	height: var(--height);
	opacity: var(--opacity);
	z-index: var(--z-index);
	scale: var(--scale);
	transform: translateX(var(--x)) translateY(var(--y));
}

.toast__title {
	color: var(--theme-color-text-default);
	font-weight: var(--theme-font-weight-semibold);
	font-size: var(--theme-font-size-sm);
}

.toast__description {
	color: var(--theme-color-text-muted);
	font-size: var(--theme-font-size-sm);
}

.toast__close-trigger {
	position: absolute;
	top: var(--theme-spacing-xs);
	right: var(--theme-spacing-xs);
}
